* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #141414;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
/* Header / Navbar */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: transparent;
  padding: 15px 0;
  z-index: 3;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}
.header-color {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 39%,
    rgba(10, 10, 10, 1) 100%
  );
}
.nav-content {
  display: flex;
  align-items: center;
}
.nav-content img {
  height: 45px;
  width: 155px;
  object-fit: cover;
}
nav a,
p,
i,
img {
  margin: 0 10px;
}
.user-account {
  display: flex;
  align-items: center;
}
.user-account img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 5px;
}

/* Section / Trailer */
.featured-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.demon-trailer {
  opacity: 0.4;
  width: 100%;
  height: auto;
  background-size: cover;
}
.trailer-about {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 15px;
}
.trailer-logo img {
  height: 268px;
  width: 294px;
  object-fit: cover;
}
.description-trailer {
  margin: 20px 0;
  font-size: 20px;
}
.buttons-trailer button {
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: 0;
  font-weight: bold;
}
.buttons-trailer button:nth-child(even) {
  background-color: gray;
  color: white;
}
.vignette {
  height: 250px;
  width: 100%;

  background: linear-gradient(
    0deg,
    rgba(20, 20, 20, 1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Section / Series / Movies / My List */
.series {
  top: -100px;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(20, 20, 20, 1) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}
#movies-section {
  top: -50px;
  position: relative;
}
.recomendation {
  color: #ffffff;
  text-align: start;
}
.items-wrapper,
#user-list {
  width: 90%;
  margin: 0 auto;
}

.items,
.user-movies {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.items {
  overflow-y: hidden;
}
.item {
  pointer-events: none;
}

.movie-item {
  height: 250px;
  margin: 10px;
  width: 175px;
  object-fit: cover;
  border-radius: 10px;
}
.movie-info {
  display: none;
}
#my-list {
  top: -50px;
  position: relative;
  margin: 50px 0;
}

/* Scrollbar Style */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

.alura-logo {
  width: 40px;
  margin: 10px;
}

/* Handle on hover / Button  */
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  margin: 15px auto;
}

.form-wrapper input {
  margin: 0 auto;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: 0;
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.form-wrapper button:hover {
  opacity: 0.8;
}

/* Tablet Version */
@media screen and (max-width: 768px) {
  .movie-info {
    background-color: #1d1d1d;
    padding: 10px 5px;
    border-radius: 0 0 10px 10px;
    width: 107px;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -5px;
    right: -10px;
  }
  .nav-content img {
    width: 120px;
    height: auto;
  }
  .nav-content a {
    display: none;
  }
  .trailer-logo img {
    width: 65%;
    height: 100%;
  }
  .description-trailer {
    font-size: 12px;
  }
  .buttons-trailer button {
    padding: 5px 12px;
    font-size: 12px;
  }
  .series {
    top: 0px;
    z-index: 2;
  }
  #movies-section,
  #my-list {
    top: 0;
    margin: 25px 0;
  }
  .movie-item {
    height: 175px;
    width: auto;
    margin: 10px 10px 0px;
    border-radius: 10px 10px 0 0;
  }
  .user-account p {
    display: none;
  }
  .dark-gradient {
    width: 100%;
    height: 125px;
    top: 350px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 1) 40%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .form-wrapper {
    width: 35%;
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
@media screen and (max-width: 425px) {
  .featured-movie {
    margin-bottom: 50px;
  }
  #items-wrapper h2 {
    font-size: 15px;
  }
  .description-trailer {
    display: none;
  }
  .trailer-logo {
    text-align: center;
  }
  .trailer-logo img {
    width: 75px;
  }
  .trailer-about {
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    right: 110px;
    top: 125px;
    z-index: 2;
  }
  .buttons-trailer {
    margin-top: 15px;
    text-align: center;
  }
  .genre {
    text-align: center;
    font-size: 12px;
  }
  .btn-more-information {
    display: none;
  }
  .dark-gradient {
    top: 150px;
  }
  .items-wrapper {
    font-size: 10px;
  }
  .form-wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .trailer-logo img {
    width: 50px;
  }
  .trailer-about {
    right: 95px;
    top: 125px;
  }
  .dark-gradient {
    top: 140px;
  }
  .form-wrapper {
    width: 75%;
  }
}
